@model PagedList.IPagedList<ConstructoraUdeC.Models.ParametersModule.PropertyModel>

@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" />
@{
    ViewBag.Title = "Listado de propiedades";
}

<h2>Listado de propiedades</h2>

<p>
    @Html.ActionLink("Create una nueva propiedad", "Create")
</p>
@using (Html.BeginForm("Index", "Property", FormMethod.Get))
{
    <div class="form-row">
        <div class="form-group col-lg-2">
            @Html.TextBox("Search_Country", ViewBag.FilterValueCountry as string, new { @class = "form-control", placeholder = "Pais" })
        </div>
        <div class="form-group col-lg-2">
            @Html.TextBox("Search_City", ViewBag.FilterValueCity as string, new { @class = "form-control", placeholder = "Ciudad" })
        </div>
        <div class="form-group col-lg-2">
            @Html.TextBox("Search_Project", ViewBag.FilterValueProject as string, new { @class = "form-control", placeholder = "Projecto" })
        </div>
        <div class="form-group col-lg-2">
            @Html.TextBox("Search_Block", ViewBag.FilterValueBlock as string, new { @class = "form-control", placeholder = "Bloque" })
        </div>
        <div class="form-group col-lg-2">
            <input type="submit" value="Buscar" class="btn btn-info" />
        </div>
    </div>
}
<table class="table">
    <tr>
        <th>
            Codigo
        </th>
        <th>
            Identificacion
        </th>
        <th>
            Valor
        </th>
        <th>
            Estado
        </th>
        <th>
            @Html.ActionLink("Bloque", "Index", new { Sorting_Order = ViewBag.SortingName })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Identification)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Val)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Block.Name)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, Page_No => Url.Action("Index",
    new { Page_No, Sorting_Order = ViewBag.CurrentSortOrder, Filter_Value = ViewBag.FilterValue }))
