@model IEnumerable<ConstructoraUdeC.Models.ParametersModule.PropertyModel>

@{
    ViewBag.Title = "Listado de propiedades";
}

<h2>Listado de propiedades</h2>

<p>
    @Html.ActionLink("Create una nueva propiedad", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Identification)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Val)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Block.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Identification)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Val)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Block.Name)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
