<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top bg-light " style="background=">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("ConstructoraUdeC S.A.S", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">

                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                    <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>

                    @if (Session.Count > 0)
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Ventas
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item">@Html.ActionLink("Clientes ", "Index", "Customer")</a></li>
                                <li><a class="dropdown-item">@Html.ActionLink("Info. Financiera ", "IndexInfoFinancial", "Customer")</a></li>
                                <li><a class="dropdown-item">@Html.ActionLink("Solcitud", "Index", "Request")</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Parametros
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item">@Html.ActionLink("Paises ", "Index", "Country")</a></li>
                                <li><a class="dropdown-item">@Html.ActionLink("Ciudades", "Index", "City")</a></li>
                                <li><a class="dropdown-item">@Html.ActionLink("Proyectos", "Index", "Project")</a></li>
                                <li><a class="dropdown-item">@Html.ActionLink("Bloques", "Index", "Block")</a></li>
                                <li><a class="dropdown-item">@Html.ActionLink("Propiedades", "Index", "Property")</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Administracion
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item">@Html.ActionLink("Roles", "Index", "Role")</a></li>
                                <li><a class="dropdown-item">@Html.ActionLink("Usuarios", "Index", "User")</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @Session["username"]
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">@Html.ActionLink("cambiar contraseña", "Password", "User")</a></li>
                                <li><a class="dropdown-item" href="#">@Html.ActionLink("Cerrar sesión", "Logout", "User")</a></li>
                            </ul>
                        </li>

                    }
                    else
                    {
                        <li>@Html.ActionLink("Iniciar sesión", "Login", "User")</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
       
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year -Cuartas y Marin</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
